* {
    scrollbar-background: #272727;
    scrollbar-color: #c7c7c7;
    scrollbar-background-hover: #272727;
    scrollbar-color-hover: #ffffff;
    scrollbar-background-active: #272727;
    scrollbar-color-active: #ffffff;
}

.button {
    background: #e9ecef;
    color: #1b1b1b;
    border: none;
}

.button:focus {
    text-style: bold !important;
    color: #ffffff !important;
    background: #000000 !important;
    border: tall #e9ecef !important;
}

.input_field {
    color: #e9ecef;
    background: #000000;
    border: tall #252525;
}

.input_field:focus {
    border: tall #e9ecef;
}

.button:focus {
    background: #343a40;
    color: #e9ecef;
}

#header {
    background: black;
    color: white;
    margin: 1 2 0 2;
}

.input_form_grid {
    grid-size: 1 3;
    grid-rows: 1fr 1fr 1fr;
    width: 100%;
}

.input_form_super_container {
    grid-size: 3 1;
    grid-columns: 1fr 6fr 1fr;
    height: 100%;
}

.input_form_container {
    width: 100%;
    height: 100%;
    align: center middle;
}

.input_form_buttons_container {
    width: 100%;
    height: 3;
    grid-size: 2 1;
    margin: 1 0 0 0;
    grid-columns: 1fr 1fr;
}

.input_form_button {
    width: 100%;
    margin: 0 1 0 1;
    height: 3;
    content-align: center middle;
}

.input_form_input_field {
    width: 100%;
    height: 3;
    content-align: center middle;
}

.message_container {
    width: 100%;
    height: 100%;
}

.message {
    width: 50%;
    height: 100%;
    align: center middle;
    content-align: center middle;
}

.message_before {
    width: 25%;
    height: 100%;
    margin: 10 0;
}

.message_after {
    width: 25%;
    height: 100%;
    margin: 10 0;
}

.message_label {
    color: #e9ecef;
    width: 100%;
    text-align: center;
}

.message_button {
    margin: 2 0 0 0;
    width: 100%;
    content-align: center middle;
}

.select_menu {
    height: 100%;
    width: 100%;
    margin: 0 5 2 5;
    align: center middle;
    grid-size: 1 2;
    grid-rows: 1fr 2fr;
}

.select_menu_logo_label_container {
    align: center top;
    margin: 0 0 2 0;
    height: 7;
    min-width: 50;
}

.select_menu_logo_label {
    color: #e9ecef;
    text-align: left;
}

.select_menu_buttons_supercontainer {
    width: 100%;
    height: 16;
    grid-size: 3 1;
    grid-columns: 1fr 3fr 1fr;
    align: center middle;
}

.select_menu_buttons_container {
    width: 100%;
    height: 100%;
}

.select_menu_button {
    width: 100%;
    height: 3;
    align: center middle;
}

.store_handle_container {
    margin: 1 2 2 2;
    width: 100%;
    height: 100%;
}

.store_handle_title {
    width: 100%;
    color: #e9ecef;
    text-align: center;
    margin: 0 0 2 0;
}

.store_handle_search_container {
    width: 100%;
    grid-size: 2 1;
    grid-columns: 2fr 1fr;
    height: 3;
    margin: 1 1 2 0;
}

.store_handle_search_input_field {
    width: 100%;
}

.store_handle_search_clean_button {
    width: 100%;
    margin: 0 1 0 0;
}

.store_handle_item {
    width: 100%;
    height: 5;
    margin: 0 1 1 0;
    background: black;
    color: #e9ecef;
    border: tall #e9ecef;
    grid-size: 2 1;
    grid-columns: 1fr 1fr;
}

.store_handle_item_label_container {
    align: left middle;
    width: 100%;
    height: 5;
    margin: 0 0 0 2;
}

.store_handle_item_label {
    color: #e9ecef;
}

.store_handle_item_buttons_container {
    align: right middle;
    height: 3;
    grid-size: 3 1;
    grid-columns: 1fr 1fr 1fr;
    margin: 0 1 0 1;
}

.store_handle_item_button,
.store_handle_button {
    margin: 0 1 0 0;
    width: 100%;
    min-width: 10;
    align: right middle;
}

.store_handle_buttons_container {
    width: 100%;
    height: 3;
    margin: 0 1 0 1;
    grid-size: 3 1;
    grid-columns: 1fr 1fr 1fr;
}

.store_pair_update_container {
    width: 100%;
    height: 100%;
    margin: 5;
    align: center middle;
    content-align: center middle;
}

.store_pair_update_buttons_container {
    width: 100%;
    height: 3;
    grid-size: 2 1;
    grid-columns: 1fr 1fr;
}

.store_pair_update_button {
    width: 100%;
    height: 3;
    margin: 0 1 0 1;
}

.store_pair_update_attribute_container {
    width: 100%;
    height: 3;
    margin: 0 0 2 0;
    align: center middle;
    content-align: center middle;
    grid-size: 2 1;
    grid-columns: 1fr 4fr;
}

.store_pair_update_label_container {
    align: left middle;
    height: 3;
    width: 100%;
    border-left: tall #e9ecef;
}

.store_pair_update_label {
    color: #e9ecef;
    margin: 0 0 0 2;
}

.backup_manage_screen_container {
    width: 100%;
    height: 100%;
    margin: 3;
    align: center top;
    content-align: center middle;
}

.backup_manage_screen_no_backups_label {
    color: #e9ecef;
    width: 100%;
    text-align: center;
    margin: 2 0;
}

.backup_manage_screen_item {
    width: 100%;
    height: 5;
    margin: 0 1 1 0;
    background: black;
    color: #e9ecef;
    border: tall #e9ecef;
    grid-size: 2 1;
    grid-columns: 1fr 1fr;
    padding: 0 2;
}

.backup_manage_screen_item_label_container {
    align: left middle;
    width: 100%;
    height: 5;
    text-align: center;
}

.backup_manage_screen_item_buttons_container {
    width: 100%;
    height: 5;
    grid-size: 2 1;
    grid-columns: 1fr 1fr;
}

.backup_manage_screen_item_button {
    width: 100%;
    height: 5;
    min-width: 10;
    margin: 0 0 0 2;
}

.backup_manage_screen_buttons_container {
    width: 100%;
    align: center middle;
    height: 3;
    grid-size: 3 1;
    margin: 0 1 0 0;
    grid-columns: 1fr 1fr 1fr;
}

.backup_manage_screen_button {
    margin: 0 1 0 1;
    width: 100%;
}

.help_screen_supercontainer {
    width: 100%;
    height: 100%;
    padding: 2 5;
}

.help_screen_container {
    width: 100%;
    height: auto;
}

.help_screen_items_title {
    text-style: italic;
    color: #e58268;
    width: 100%;
    text-align: left;
    height: 1;
    margin: 0 0 1 0;
}

.help_screen_title_container {
    width: 100%;
    margin: 0 0 2 0;
    height: 1;
    align: center top;
    content-align: center middle;
}

.help_screen_label_container {
    width: 100%;
    margin: 0 0 1 0;
    height: 1;
}

.help_screen_comment_container {
    height: auto;
    width: 100%;
    margin: 0 0 1 0;
}

.help_screen_label_key {
    color: #c993f5;
    text-style: bold;
    height: 1;
}

.help_screen_label_description {
    color: #e9ecef;
    height: 1;
}

.help_screen_label_comment {
    color: #e9ecef;
    height: 1;
}

.help_screen_label_link {
    color: #2ba2de;
    text-style: bold underline;
    height: 1;
}

.help_screen_label_highlight {
    color: #45d4a1;
    text-style: bold;
    height: 1;
}

.help_screen_separator {
    width: 100%;
    height: 1;
    margin: 1 0 1 0;
}
